$green : #58D68D;
$blue-gray : #5D6178;
$orange : #FF5733;
$yellowish : #DAF7A6;

.jumbotron {
  text-align: center;
  color: white;
  margin-bottom: 0;
  background-color: $blue-gray;
  height: 500px;
}

.jumbotron h1 {
  margin-top: 5%;
  font-size: 100px;
  font-weight: 100;
  font-family: serif;
}

.btn {
  margin-top: 2%;
  width: 30%;
  color: white;
  background-color: $green;
  border: 1px solid $green;
}

#userInput {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#inputLabel {
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 1%;
}

.media {
  background-color: $green;
  border: 1px solid $blue-gray;
  float: left;
  width: 25%;
  max-height: 150px;
  margin: 0 1% 2% 4%;
  padding: 1%;
}

.media:hover {
  box-shadow: 0 4px 10px black;
}

.media-body {
  overflow: scroll;
}

.doctor-list {
  padding-top: 5%;
  background-color: #F9FDFB;
}
